

.carddiv{
    width:250px;
    height:300px;
    margin:auto;
    margin-top:15px;
    margin-bottom:15px;
    border-radius:8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color:rgba(0, 0, 0, 0.5);
    color:white;   
}

.carddiv:hover{

    box-shadow: 0 16px 8px 0 rgba(0,0,0,0.2);
    transform: scale(1.03);

}

.cardpara{

    /* border:1px solid green; */
    color:black;
    text-align: center;
    /* position: relative;
    top:40%; */

}

#riddle-card{

    color:white;
    text-decoration: underline;

}

/* aligning buttons */

.buttons{
    
    text-align: center;
    /* border: 2px solid  red; */
}

.buttons button{
    margin-top:10px;
    margin-bottom:10px;
    /* border:5px; */
    border: 2px solid  orange;
    padding:8px;
    border-radius:5px;
    background:orange;
}


.buttons button:hover{
    background:transparent;

}