.carddiv{
    /* border: 2px solid red; */
    background-color:white;
    width:250px;
    height:300px;
    margin:auto;
    margin-top:15px;
    border-radius:8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    
}

.carddiv:hover{
    box-shadow: 0 16px 8px 0 rgba(0,0,0,0.2);
    transform: scale(1.03);
}

.cardpara{
    /* border:1px solid green; */
    color:black;
    text-align: center;
    /* position: relative;
    top:40%; */

}

/* aligning buttons */

.div__button{
text-align: center;
}

.div__button{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* columns: 2; */
}
