@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Spirax&display=swap');



body {

    font-family: "Spirax";
    margin: 0px;
    color: white;

}

/* background image */
.bg-image {
    background: url(resources/pirates_16.jpg);
    background-repeat: no-repeat;
    background-size: 100% 812px;
}


.dropdown {
    display: none;
}

/* adding my first media query */
@media screen and (max-width:600px) {
    .bg-image {

        font-family: "Pacifico";
        margin: 0px;
        background: url(resources/piratemob.jpg);
        background-color: black;
        background-repeat: no-repeat;
        background-size: 100% 812px;
        font-family: "Spirax";


    }

    .navigation {
        display: none;

    }

    .dropdown {
        position: relative;
        display: block;
        background: transparent;
        border-radius: 4px;
        padding: 15px;
        left: 20px;
        font-family: "Spirax";
        font-size: 20px;
        color: white;

    }

    .dropdown:hover {
        color: orange;
    }


}


#main {

    text-align: center;
    text-decoration: underline;
}

.welcome {
    text-align: center;
}


.navigation {
    text-align: left;
    margin: 0px;
    background-color: orange;
    color: black;
}

.navigation li {
    list-style-type: None;
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.introduction {
    text-align: center;
}

.button-center {
    text-align: center;
}

.button-center button {
    /* padding : 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 12px;
    font-size: 20px;
    border: none;
    background-color: orange;


    /* golden , black, red ,yellow*/

}


.footer-center {

/* position: relative;
top:120px;
bottom:10px; */


text-align : center;
position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}



.footer-center img {
    position: relative;
    text-align: center;
    right: 13px;

}

.footer-center li {
    display: inline;
    padding-left: 15px;
    bottom: 0px;
    text-decoration: none;
}

.footer-center a {

    color: white;
    text-decoration: none;
    font-size: 20px;
    animation-name: footer-color;
    animation-duration: 10s;

}

.legal{
    /* text-align: center; */
    padding-left:0px;
}

.footer-center a:hover {
    color: red;
    text-decoration: underline;

}

@keyframes footer-color {


    0% {
        color: purple;
    }

    25%{
        color:orange;
        transform:rotate(90deg);
    }


    40%{
        color:pink;
    }

    50% {
        color: lightblue;
    }

    60%{
        color:gold;
    }

    70%{
        color:seagreen;
    }

    100% {
        color: green;
    }

}