@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
.in-text-area{
    width:464px;
    height:107px;
    text-align:center;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-color:red;
    resize:none;
    opacity:0.8;
    margin-top:50px;
    margin-bottom:25px;
    border-radius:10px;
    font-family: "KoHo";

    
}


.out-text-area{

    width:464px;
    height:107px;
    text-align:center;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-color:red;
    resize:none;
    opacity:0.9;
    margin-top:25px;
    border-radius:10px;
    font-family: "KoHo";
    

}

button{
padding:10px;
border-radius: none;
background-color: orange;
border: 0px;
border-radius: 8px;
display:block;
margin-left:auto;
margin-right:auto;
font-family: "KoHo";
}

button:hover{
    opacity:0.6;
}